* {
  border: 1px solid black;
}
 
main {
  display: flex;
  gap: 10px;
  justify-content: center;
}
section {
  display: block;
  width: 200px;
  height: 80vh;
}
section div {
  border: 1px solid #007a96;
  margin-bottom: 2px;
  display: flex;
}
section div label {
  border: none;
  width: 100%;
  display: block;
}
#lr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

#lr button {
  width: 60px;
}
